<a href="https://colab.research.google.com/github/AtrCheema/python-courses/blob/master/basics/copying_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Copying List

In [1]:
countries1 = ["Pakistan", "Iran", "Turkey"]
countries2 = countries1

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey']
['Pakistan', 'Iran', 'Turkey']

In [2]:
print(id(countries1),id(countries2))

140673898174344 140673898174344

In [3]:
countries2 = ["Qatar", "Malaysia", "Libanon"]
print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey']
['Qatar', 'Malaysia', 'Libanon']

In [4]:
print(id(countries1),id(countries2))

140673898174344 140673898172680

So the `countries2` list became different from `countries1` when we assigned a new different object to it.

What happens when we change the contents of list

In [5]:
countries1 = ["Pakistan", "Iran", "Turkey"]
countries2 = countries1

print(id(countries1),id(countries2))

140673897535752 140673897535752

In [6]:
countries2[2] = "Syria"
print(id(countries1),id(countries2))

140673897535752 140673897535752

In [7]:
print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Syria']
['Pakistan', 'Iran', 'Syria']

The list `countries1` changed automatically. This is because, we don't have two lists in reality. We have one list with two names. What we did was `in place` change in `countries2` list and did not assign a new object to `countries2`, so the the name `countries2` still points to the same object as `countries1`.

### Copying using slicing

The above problem can be avoided by using the slice operator

In [8]:
countries1 = ["Pakistan", "Iran", "Turkey"]
countries2 = countries1[:]
countries2[2] = 'Syria'

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey']
['Pakistan', 'Iran', 'Syria']

In [9]:
print(id(countries1), id(countries2))

140673897536392 140673897535048

Now `countries1` and `countries2` are not same objects. 

What about sublists in a list?

In [10]:
countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = countries1[:]

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]
['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]

In [11]:
countries2[0] = "Syria"
print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]
['Syria', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]

In [12]:
countries2[3][1] = "Iraq"
print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]
['Syria', 'Iran', 'Turkey', ['Qatar', 'Iraq']]

So again `countries1` is changed even though we changed only `countries2` list. This is because when we copy a list containing sublists, the sublists are not copied but their reference is copied.

In [13]:
print(id(countries1[3]), id(countries2[3]))

140673898174664 140673898174664

The same can be achieved by using `copy` method of `list` object.

In [14]:
countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = countries1.copy()

print(id(countries1), id(countries2))

140673897818248 140673897816584

In [15]:
countries2[3][1] = "Iraq"

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]
['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]

In [16]:
print(id(countries1[3]), id(countries2[3]))

140673897535816 140673897535816

### Using `list` function

The `list` function converts a sequence into list, if it is not already a list

In [17]:
countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = list(countries1)

print(id(countries1), id(countries2))

140673897816200 140673897535624

In [18]:
print(id(countries1[3]), id(countries2[3]))

140673897536392 140673897536392

### using copy module

In [19]:
from copy import copy

countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = copy(countries1)

print(id(countries1), id(countries2))

140673897534152 140673898173960

In [20]:
print(id(countries1[3]), id(countries2[3]))

140673897819016 140673897819016

In [21]:
from copy import deepcopy

countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]

countries2 = deepcopy(countries1)

print(id(countries1), id(countries2))

140673897536392 140673897816200

Now `countries1` and `counries2` are different and also the sublists in both lists are different now.

In [22]:
print(id(countries1[3]), id(countries2[3]))

140673897818248 140673898069960

So if we make change in one sublist, the sublist in other list will not be affected.

In [23]:
countries2[3][1] = "Iraq"

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]
['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]

but the strings in them are not copied so they still have same id.

In [24]:
print(id(countries1[0]), id(countries2[0]))

140673897537072 140673897537072

So `deepcopy` method from `copy` module is the safest way to copy a list when it contain sublists but it is also the slowest one among others.

But what if the two sublists in a list are themselves same objects?

In [25]:
countries1 = ["Pakistan", "Iran"]
b = [countries1,countries1] # there's only 1 object countries1
c = deepcopy(b)

# check the result
c[0] is countries1 # return False, a new object a' is created

False

In [26]:
c[0] is c[1]

True

In such a scenario, copying with nested for loops is the safest way. `for loops` will be described later.

In [0]:
countries1 = ["Pakistan", "Iran"]
b = [countries1,countries1] # there's only 1 object countries1

c = [[i for i in row] for row in b]

In [28]:
c[0] is countries1

False

In [29]:
c[0] is c[1]

False